[submodule "external_libraries/glfw"]
	path = external_libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external_libraries/glm"]
	path = external_libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "external_libraries/assimp"]
	path = external_libraries/assimp
	url = https://github.com/assimp/assimp.git
